<div id="shell-setup"> {% comment %} Start of 'shell' section. {% endcomment %}
  <h3>The Bash Shell</h3>
  <p>
    Some of the tools we will be using during this workshop are accessed through your computer's <a href="https://en.wikipedia.org/wiki/Command-line_interface">command-line interface</a>. 
	Specifically, we will use the Bash shell. Please refer to these <a href="https://librarycarpentry.org/lc-shell/setup.html">setup instructions</a> to get started (you can ignore the bit
	about data files).
  </p>
</div>

<div id="tidydata-setup">
  <h3>Spreadsheet editor</h3>
  <p>
    We will need a spreadsheet editor for the first part of the workshop. If you already have Microsoft Excel or Apple Sheets on your computer, you can use that. If you don't, check
    these <a href="https://librarycarpentry.org/lc-spreadsheets/setup.html">setup instructions</a> for an alternative.
  </p>
</div>

<div id="python-setup">
  <h3>Python (via Anaconda)</h3>
  <p>
    Python is a general purpose programming language that supports rapid development of scripts and applications. Please find instructions to install Python using the Anaconda installed used in the <a href="https://librarycarpentry.org/lc-python-intro/setup.html">lesson</a>.
  </p>
</div>

<div id="webscraping-setup">
  <h3>Web scraping tools</h3>
  <p>
    For the Web scraping lesson, we will start by using the Chrome web browser with the Scraper extension. Then we will use Python with the Scrapy library. Refer to the <a href="https://librarycarpentry.org/lc-webscraping/setup">lesson setup instructions</a> for details.
  </p>
</div>
