<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-data">Tidy Data</h3>
    <ul>
      <li>Using spreadsheets for data wrangling</li>
      <li>Formatting data tables</li>
      <li>Dates as data</li>
      <li>Quality control & data manipulation</li>
      <li>Exporting data</li>
      <li><a href="https://librarycarpentry.org/lc-spreadsheets/reference.html">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-python1">Python - Part 1</h3>
    <ul>
      <li>Getting Started</li>
      <li>Variables and Assignment</li>
      <li>Data types and Conversion</li>
      <li>Built-in functions and Help</li>
      <li>Libraries</li>
      <li><a href="https://librarycarpentry.org/lc-python-intro/reference.html">Reference...</a></li>
    </ul>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-python2">Python - Part 2</h3>
    <ul>
      <li>Recap</li>
      <li>Lists</li>
      <li>For Loops</li>
      <li>Writing Functions</li>
      <li>Variable Scope</li>
	  <li>Conditionals</li>
      <li>Programming style and wrap-up</li>
      <li><a href="https://librarycarpentry.org/lc-python-intro/reference.html">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <div class="col-md-6">
      <h3 id="syllabus-webscraping">Web Scraping</h3>
      <ul>
        <li>Introduction: What is Web Scraping?</li>
        <li>Selecting content with XPath</li>
        <li>Manually scrape using browser extensions</li>
        <li>Web scraping using Python and Scrapy</li>
      </ul>
    </div>
  </div>
</div>
